body {
    background-color: lightgray;
}

#zoning3 {
    width: 1200px;
    margin: auto;
}

#zoning3header {
	background-color: yellow;
	width: 1200px;
	text-align: center;
	margin: auto;
}

#zoning3gauche {
	float: left;
	width: 50%;
	min-height: 400px;
	background-color: blue;
	text-align: center;
	font: 25px helvetica;
	padding: 20px;
}

#zoning3droite {
	float: right;
	width: 50%;
	min-height: 400px;
	background-color: red;
	text-align: center;
	font: 25px helvetica;
	padding: 20px;
}

#zoning3footer {
	background: greenyellow;
	width: 1200px;
	text-align: center;
	margin: auto;
	/* box-shadow: 1px 1px 2px white; */
}


/* header#zoning2header{
    float: left;
    width: 1200px;
    background: gold;
    height: 150px;
    text-align: center;
    font: 25px helvetica;
}

h1 {
    line-height: 0.5em;
}

aside#gauche {
    float: left;
    width: 200px;
    min-height: 400px;
    background-color: greenyellow;
    text-align: center;
    font: 25px helvetica;
}
.aside #gauche {
    line-height: 1.5em;
}

section#zoning2section {
    float:left;
    width: 800px;
    min-height: 400px;
    background-color: white;
    text-align: center;
    font: 25px helvetica;
}
h3 .section {
    line-height: 1.5em;
}

aside#droite{
    float: right;
    width: 200px;
    min-height: 400px;
    background-color: red;
    text-align: center;
    font: 25px helvetica;
}
.aside #droite {
    line-height: 1.5em;
} */

/* .clear {
    clear: both;
} */