body {
    background-color: lightyellow;

}

p {
    background-color: turquoise;
}
a#siamois {
    width: 800px;
    margin: 0 auto;   
}
#siamois a {
    background: url(../img/siamois.jpg) no-repeat;
    width: 200px;
    height: 194px;
    border: 5px solid purple;
    float: left;
}

#siamois a :hover {
    color: red;
    content: ;
}



.clear  {
    clear: both;
}